<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926147581519-egib3dcf3fc2do7h5mvkenol9fkpk699.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926147581519-egib3dcf3fc2do7h5mvkenol9fkpk699</string>
	<key>API_KEY</key>
	<string>AIzaSyC8bKRtKx_-hx2xR7uyOoNJXKZBy8JX-eU</string>
	<key>GCM_SENDER_ID</key>
	<string>926147581519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ict.manna.Firebase-Authentication</string>
	<key>PROJECT_ID</key>
	<string>fir-db-52464</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-db-52464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926147581519:ios:66b978252f2002996abc3a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-db-52464.firebaseio.com</string>
</dict>
</plist>